@page
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/JsRepos/StocksRepo.js"></script>
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-2">Stocks</div>
            <div class="col-12">
                <table>
                    <thead>
                        <tr>id</tr>
                        <tr>Stock Code</tr>
                        <tr>Price</tr>

                    </thead>
                    <tbody id="tableBody">
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>